In [2]:
# импортируем библиотеки numpy и pandas
import numpy as np
import pandas as pd

# импоритруем библиотеку datatime для работы с датами
from datetime import datetime, date

# Задаем некоторые опции библиотеки pandas, которые настраивают вывод
# pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)  
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

# импортируем библиотеку matplotlib для построения графиков
import matplotlib.pyplot as plt
    #%matplotlib inline

sp500 = pd.read_csv("C:/Python/Pandas/Notebooks/Data/sp500.csv", index_col='Symbol', usecols=[0, 2, 3, 7])

In [5]:
# создаем DataFrame, состоящий из случайных чисел и столбца key
np.random.seed(123456)
df = pd.DataFrame({'foo': np.random.random(10000), 'key': range(100, 10100)})
df[:5]

        foo  key
0  0.126970  100
1  0.966718  101
2  0.260476  102
3  0.897237  103
4  0.376750  104

In [9]:
# отбираем строку, в которой значение столбца key равно 10099
df[df.key==10099]

           foo    key
9999  0.272283  10099

In [15]:
# измеряем время выполнения операции отбора
%timeit df[df.key==10099]

456 µs ± 8.82 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [20]:
# превращаем столбец key в index
df_with_index = df.set_index(['key'])
df_with_index[:5]

          foo
key
100  0.126970
101  0.966718
102  0.260476
103  0.897237
104  0.376750

In [22]:
# теперь можно найти это значение с помощью индекса
df_with_index.loc[10099]

foo    0.272283
Name: 10099, dtype: float64

In [24]:
# и теперь эта опреция выполняется намного быстрее
%timeit df_with_index.loc[10099]

83.9 µs ± 907 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

# Типы индексов библиотеки pandas

Основной тип Index

In [26]:
# покажем, что столбцы фактически являются индексом
temps = pd.DataFrame({"City": ["Missoula", "Philadelphia"], "Temperature": [70, 80]})
temps

           City  Temperature
0      Missoula           70
1  Philadelphia           80

In [28]:
# мы видим, что столбцы - это индекс
temps.columns

Index(['City', 'Temperature'], dtype='object')

Индексы Int64Index и RangeIndex, в качестве меток используется целые числа

In [32]:
# явно создаем Int64Index
df_i64 = pd.DataFrame(np.arange(10, 20), index=np.arange(0, 10))
df_i64[:5]

    0
0  10
1  11
2  12
3  13
4  14

In [34]:
# смотрим индекс
df_i64.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [36]:
# по умолчанию мы получаем RangeIndex
df_range = pd.DataFrame(np.arange(10, 15))
df_range[:5]

    0
0  10
1  11
2  12
3  13
4  14

In [38]:
df_range.index

RangeIndex(start=0, stop=5, step=1)

Индекс Float64Index, в качестве меток используется числа с плавающей точкой

In [41]:
# индексы, использующие Float64Index
df_f64 = pd.DataFrame(np.arange(0, 1000, 5), np.arange(0.0, 100.0, 0.5))
df_f64.iloc[:5]

      0
0.0   0
0.5   5
1.0  10
1.5  15
2.0  20

In [43]:
df_f64.index

Float64Index([ 0.0,  0.5,  1.0,  1.5,  2.0,  2.5,  3.0,  3.5,  4.0,  4.5,
              ...
              95.0, 95.5, 96.0, 96.5, 97.0, 97.5, 98.0, 98.5, 99.0, 99.5],
             dtype='float64', length=200)

Представление дискретных интервалов с использованияем IntervalIndex

In [45]:
# датафрейм с IntervalIndex
df_interval = pd.DataFrame({'A': [1, 2, 3, 4]}, index = pd.IntervalIndex.from_breaks([0, 0.5, 1.0, 1.5, 2.0]))
df_interval

            A
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4

In [46]:
df_interval.index

IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0]], dtype='interval[float64, right]')

Категории в качсетве индекса - CategoricalIndex

In [66]:
# создаем датафрейм со столбцом, имеющим тип Categorical
df_categorical = pd.DataFrame({'A': np.arange(6), 'B': list('aabbca')})
df_categorical['B'] = pd.Categorical(df_categorical['B'], categories=list('cab'))
df_categorical

   A  B
0  0  a
1  1  a
2  2  b
3  3  b
4  4  c
5  5  a

Индексация по датам и времени с помощью DatetimeIndex

In [69]:
# создаем DatetimeIndex на основе диапозона дат
rng = pd.date_range('5/1/2017', periods=5, freq='H')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2017-05-01 00:00:00   -0.449276
2017-05-01 01:00:00    2.472977
2017-05-01 02:00:00   -0.716023
2017-05-01 03:00:00   -0.032915
2017-05-01 04:00:00   -0.337780
Freq: H, dtype: float64

In [71]:
ts.index

DatetimeIndex(['2017-05-01 00:00:00', '2017-05-01 01:00:00',
               '2017-05-01 02:00:00', '2017-05-01 03:00:00',
               '2017-05-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

Индексация периодов времени с помощью PeriodIndex

In [73]:
# явно создаем PeriodIndex
periods= pd.PeriodIndex(['2017-1', '2017-2', '2017-3'], freq='M')
periods

PeriodIndex(['2017-01', '2017-02', '2017-03'], dtype='period[M]')

In [76]:
# используем индекс в серии
period_series = pd.Series(np.random.randn(len(periods)), index=periods)
period_series

2017-01   -0.126246
2017-02   -1.644070
2017-03   -0.700213
Freq: M, dtype: float64

# Работа с индексами

Создание индекса в объекте Series или объекте DataFrame

In [78]:
# создаем DatetimeIndex
date_times = pd.DatetimeIndex(pd.date_range('5/1/2017', periods=5, freq='H'))
date_times

DatetimeIndex(['2017-05-01 00:00:00', '2017-05-01 01:00:00',
               '2017-05-01 02:00:00', '2017-05-01 03:00:00',
               '2017-05-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [81]:
# создаем объект DateFrame, используя индекс
df_date_time = pd.DataFrame(np.arange(0, len(date_times)), index=date_times)
df_date_time

                     0
2017-05-01 00:00:00  0
2017-05-01 01:00:00  1
2017-05-01 02:00:00  2
2017-05-01 03:00:00  3
2017-05-01 04:00:00  4

In [83]:
# задаем индекс датафрейму
df_date_time.index = pd.DatetimeIndex(pd.date_range('6/1/2017', periods=5, freq='H'))
df_date_time

                     0
2017-06-01 00:00:00  0
2017-06-01 01:00:00  1
2017-06-01 02:00:00  2
2017-06-01 03:00:00  3
2017-06-01 04:00:00  4

Отбор значений с помощью индекса

# 1

In [85]:
# создаем серию
s = pd.Series(np.arange(0, 5), index=list('abcde'))
s

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [87]:
# ищем по метке индекса
s['b']

1

In [89]:
# явно ищем по метке индекса
s.loc['b']

1

# 2

In [91]:
# создаем датафрейм с двумя столбцами
df = pd.DataFrame([np.arange(10, 12), np.arange(12, 14)], columns=list('ab'), index=list('vw'))
df

    a   b
v  10  11
w  12  13

In [93]:
# эта строка возвращает столбец 'a'
df['a']

v    10
w    12
Name: a, dtype: int32

In [95]:
# возвращает строку 'w' по метке
df.loc['w']

a    12
b    13
Name: w, dtype: int32

# 3

In [97]:
# создаем срез серии от метки b До метки d
s['b':'d']

b    1
c    2
d    3
dtype: int32

In [99]:
# ищем строки по метке
s.loc[['a', 'c', 'e']]

a    0
c    2
e    4
dtype: int32

# Преобразоание данных в индекс и получение данных из индекса

In [101]:
# исследуем несколько срок датафрейма sp500 
sp500[:5]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [103]:
# сбрасываем индекс, помещая значения индекса в столбец
index_moved_to_col = sp500.reset_index()
index_moved_to_col[:5]

  Symbol                  Sector   Price  Book Value
0    MMM             Industrials  141.14      26.668
1    ABT             Health Care   39.60      15.573
2   ABBV             Health Care   53.95       2.954
3    ACN  Information Technology   79.79       8.326
4    ACE              Financials  102.91      86.897

In [105]:
# делаем столбец Sector индексом
index_moved_to_col.set_index('Sector')[:5]

                       Symbol   Price  Book Value
Sector
Industrials               MMM  141.14      26.668
Health Care               ABT   39.60      15.573
Health Care              ABBV   53.95       2.954
Information Technology    ACN   79.79       8.326
Financials                ACE  102.91      86.897

Переиндексация объекта библиотеки pandas

In [107]:
# делаем переиндксациию, задав метки MMM, ABBV И FOO
reindexed = sp500.reindex(index=['MMM', 'ABBV', 'FOO'])
# обратите внимание, что ABT и ACN удалены, а FOO содержит значения NaN
reindexed

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954
FOO             NaN     NaN         NaN

In [110]:
# выполняем периндексацию столбов
sp500.reindex(columns=['Price', 'Book Value', 'NewCol'])[:5]

         Price  Book Value  NewCol
Symbol
MMM     141.14      26.668     NaN
ABT      39.60      15.573     NaN
ABBV     53.95       2.954     NaN
ACN      79.79       8.326     NaN
ACE     102.91      86.897     NaN

# Иерархическая индексация

In [5]:
# сначала помещаем символы в столбец
reindexed = sp500.reset_index()
# а теперь индексируем датафрейм sp500 по столбцам Sector и Symbol
multi_fi = reindexed.set_index(['Sector', 'Symbol'])
multi_fi[:5]

                                Price  Book Value
Sector                 Symbol
Industrials            MMM     141.14      26.668
Health Care            ABT      39.60      15.573
                       ABBV     53.95       2.954
Information Technology ACN      79.79       8.326
Financials             ACE     102.91      86.897

In [7]:
reindexed[:5]

  Symbol                  Sector   Price  Book Value
0    MMM             Industrials  141.14      26.668
1    ABT             Health Care   39.60      15.573
2   ABBV             Health Care   53.95       2.954
3    ACN  Information Technology   79.79       8.326
4    ACE              Financials  102.91      86.897

In [116]:
# наш индекс - MultiIndex
type(multi_fi.index)

pandas.core.indexes.multi.MultiIndex

In [119]:
# он имеет 2 уровня
len(multi_fi.index.levels)

2

In [121]:
# каждый уровень индекса - индекс
multi_fi.index.levels[1]

Index(['A', 'AA', 'AAPL', 'ABBV', 'ABC', 'ABT', 'ACE', 'ACN', 'ACT', 'ADBE',
       ...
       'XLNX', 'XOM', 'XRAY', 'XRX', 'XYL', 'YHOO', 'YUM', 'ZION', 'ZMH',
       'ZTS'],
      dtype='object', name='Symbol', length=500)

In [123]:
# значения в уровне индекса 0
multi_fi.index.get_level_values(0)

Index(['Industrials', 'Health Care', 'Health Care', 'Information Technology',
       'Financials', 'Health Care', 'Information Technology', 'Utilities',
       'Health Care', 'Financials',
       ...
       'Utilities', 'Information Technology', 'Information Technology',
       'Financials', 'Industrials', 'Information Technology',
       'Consumer Discretionary', 'Health Care', 'Financials', 'Health Care'],
      dtype='object', name='Sector', length=500)

In [125]:
# получаем все акции, которые имеют значение Industrials
# обратите внимание, что в результатах индекс уровня 0 не выводится
multi_fi.xs('Industrials')[:5]

         Price  Book Value
Symbol
MMM     141.14      26.668
ALLE     52.46       0.000
APH      95.71      18.315
AVY      48.20      15.616
BA      132.41      19.870

In [126]:
# отбираем строки, в которых индекс уровня 1(Symbol) имеет значение ALLE
# обратите внимание, что в результатах индекс уровня 1(Symbol) не выводится
multi_fi.xs('ALLE', level=1)

             Price  Book Value
Sector
Industrials  52.46         0.0

In [128]:
# отбираем строки, в которых индекс уровня 0
# Sector имеет значение Industrials без удаления уровней
multi_fi.xs('Industrials', drop_level=False)[:5]

                     Price  Book Value
Sector      Symbol
Industrials MMM     141.14      26.668
            ALLE     52.46       0.000
            APH      95.71      18.315
            AVY      48.20      15.616
            BA      132.41      19.870

In [130]:
# скомбинируем уровни индексов
multi_fi.xs('Industrials').xs('UPS')

Price         102.73
Book Value      6.79
Name: UPS, dtype: float64

In [131]:
# комбинируем уровни индексов, используя кортеж
multi_fi.xs(('Industrials', 'UPS'))

Price         102.73
Book Value      6.79
Name: (Industrials, UPS), dtype: float64